html {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  padding: 1rem;
}

.endbtn {
  color: #f2f2f2;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #f2f2f2
}

.rightunit {
  padding-right: .5rem;
}

.leftunit {
  padding-left: .5rem;
}
