html {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
}

.endbtn {
  color: #f2f2f2;
}

h1 {
  text-decoration: underline;
}

body {
  padding-right: 1rem;
  padding-left: 1rem;
}

legend {
  padding-bottom: 1rem;
}

.u {
  border: .5rem;
}

@media only screen and (min-width: 60em) {

  html {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f2f2f2;
  }

  body {
    background-color: #fff;
  }

  .rightunit {
    padding-right: .5rem;
  }

  .leftunit {
    padding-left: .5rem;
  }

}
